%strong Add a comment: 
.grid.gap-6.p-2.border-2.rounded-md.m-2
  = form_with model: [ @article, @article.comments.build ] do |f|
    = f.label :Name 
    .text-black
      = f.text_field :commenter
    
    = f.label :Comment
    .text-black
      = f.text_area :body 

    = f.label :status
    .text-black 
      = f.select :status, ['public', 'private', 'archived'], selected: 'public'
      %br 
      = f.submit class: "rounded-md bg-green-500 text-white p-1 mt-5"