.grid.gap-4.p-2.text-center
  = form_with model: @article do |f|
    = f.label :title 
    .text-black
      = f.text_field :title 

    = f.label :body 
    .text-black
      = f.text_area :body

    = f.label :status
    .text-black
      = f.select :status, ['public', 'private', 'archived'], selected: 'public'

    = f.submit class: "m-6 bg-green-500 rounded-md p-1"

