= form_with model: @article do |f|
  = f.label :title 
  = f.text_field :title 
  = article.errors.full_messages_for(:title).each do |message|
    = message

  = f.label :body 
  = f.text_area :body
  = article.errors.full_messages_for(:body).each do |message|
    = message

  = f.label :status
  = f.select :status, ['public', 'private', 'archived'], selected: 'public'

  = f.submit

