.grid.justify-center.mt-40
  %strong Title: 
  %p 
    = @article.title 
  %br
  %strong Text: 
  %p
    = @article.body
  %br
  = link_to "Edit", edit_article_path(@article)
  %br
  = link_to article_path(@article), method: :delete, class: "block mx-auto mt-5", form: {data: {turbo_confirm: 'Are you sure?'}} do
    .bg-red-500.py-2.px-3.rounded-md.cursor-pointer.ml-auto.hover:bg-red-600.text-white.font-bold.text-2xl
      Delete
  %br
  = link_to "Back", articles_path
  %br 
  %br
  %strong Comments 
  %br 
    = @article.comments.each do |comment|
      %strong Name: 
      %p 
        = comment.commenter
      %br 
      %strong Comment: 
      %p
        = comment.body
  %h1 Add a comment: 
  %br 
  = form_with model: [ @article, @article.comments.build ] do |f|
    = f.label :commenter 
    = f.text_field :commenter

    = f.label :body 
    = f.text_area :body

    = f.submit 